[Unit]
Description=SecretariaBot

[Service]
WorkingDirectory={{ working_directory }}

Environment='TELEGRAM_BOT_TOKEN="{{ telegram_bot_token }}"'
Environment='GEONAMES_USERNAME="{{ geonames_username }}"'
ExecStart=/bin/bash -c "ruby ./main.rb ${TELEGRAM_BOT_TOKEN} ${GEONAMES_USERNAME}"
User=pi

[Install]
WantedBy=multi-user.target

